<div class="container-geral-center">
  <form [formGroup]="formCadastro" class="container-form" (submit)="cadastrarUsario()">

    <div>
      <label class="label-padrao">Usuario:</label>
      <input type="text" class="input-padrao" formControlName="nome">
    </div>

    <div>
      <label class="label-padrao">Email:</label>
      <input type="text" class="input-padrao" formControlName="email">
    </div>

    <div>
      <label class="label-padrao">Login:</label>
      <input type="text" class="input-padrao" formControlName="login">
    </div>

    <div>
      <label class="label-padrao">Senha:</label>
      <input type="password" class="input-padrao" formControlName="senha">
    </div>
    
    <div>
      <label class="label-padrao">Confirmar Senha:</label>
      <input type="password" class="input-padrao" formControlName="confirmSenha">
    </div>

    <button type="submit" [disabled]="formCadastro.invalid" class="button-padrao">CADASTRAR-SE</button>
  </form>
</div>
