<div class="p-8 flex flex-col justify-between w-full h-[93%]">

    <div class="w-full h-[30%] ">
        <div class="flex items-center pr-14 justify-between">
            <div class="text-xl">Seus Personagens</div>
            <div class="w-[90%] h-[3px] bg-[#FF1457]"></div>
        </div>
            <app-card-personagem></app-card-personagem>
            <app-card-personagem></app-card-personagem>
    </div>
    
    <div class="w-full h-[30%] ">
        <div class="flex items-center pr-14 justify-between">
            <div class="w-[90%] h-[3px] bg-[#FF1457]"></div>
            <div class="text-xl">Suas Campanhas</div>
        </div>
        <div class="flex flex-col items-end">
            <app-card-campanha></app-card-campanha>
            <app-card-campanha></app-card-campanha>
        </div>
    </div>
    <div class="w-full h-[30%] "> 
        <div class="flex items-center pr-14 justify-between">
            <div class="text-xl">Campanha Mestre</div>
            <div class="w-[90%] h-[3px] bg-[#FF1457]"></div>
        </div>
        <app-card-campanha></app-card-campanha>

    </div>
</div>     