<div class="w-[650px] h-[500px] border-2 flex flex-col bg-cinza-escuro border-rosa-choque rounded-md">
    <div class="bg-rosa-choque flex  justify-center">
       <div class="flex flex-col items-center"> 
            Solicitação para entrar na
            <div> nome da campanha </div>
       </div>
    </div>
    <div class="w-full border-b border-b-rosa-choque p-3 flex flex-row items-center justify-between">
        <div>
            Nome do Jogador
        </div>
        <div class="flex flex-row gap-4">
            <button type="button" class="text-white bg-rosa-cinza hover:bg-rosa-choque font-medium rounded-full text-sm px-4 py-1 text-center">Recusar</button>
            <button type="button" class="text-white bg-rosa-choque hover:bg-white hover:text-rosa-choque font-medium rounded-full text-sm px-4 py-1 text-center">Aceitar</button>
        </div>
    </div>
</div>