<form [formGroup]="form" class="container-form">
  <div class="container-left">
    <div>
      <label class="label-padrao">Nome da Campanha:</label>
      <input type="text" class="input-padrao" formControlName="nome"/>
    </div>

    <div class="container-capa" (click)="abrirSeletorDeImagem()">
      @if (imagemCortada()){
      <img [src]="imagemCortada()" alt="Capa da Campanha" />
      }@else {
      <label class="custum-file-upload" for="file">
        <div class="icon">
          <mat-icon class="file-icon">cloud_upload</mat-icon>
        </div>
      </label>
      }
    </div>

    <input type="file" hidden (change)="selecionarImagem($event)" accept="image/*" #fileInput>
    
    <div class="container-lvl-campanha">
      <div class="container-input-lvl">
        <label class="mb-2 text-base ">Level da Campanha:</label>
        <div class="container-input">
          <button type="button" class="flex" mat-icon-button (click)="alterarNivel('remove')">
            <mat-icon class="text-[#FF1457]">remove</mat-icon>
          </button>

          <div class="text-[#FF1457] text-2xl">{{ lvlCampanha() }}</div>

          <button type="button" class="flex" mat-icon-button (click)="alterarNivel('add')">
            <mat-icon class="text-[#FF1457]">add</mat-icon>
          </button>
        </div>
      </div>
    </div>


  </div>

  <div class="container-rigth">
    <p-floatlabel variant="in">
      <textarea pTextarea id="over_label" style="resize: none" class="textarea"
        formControlName="introducao"></textarea>
      <label for="in_label">Introdução</label>
    </p-floatlabel>
    <div class="container-btn">
      <p-button styleClass="button-padrao btn-cancelar" label="Cancelar" (onClick)="fecharCriacao()" />

      <p-button styleClass="button-padrao" label="Criar" (onClick)="criarCampanha()"  />
    </div>

  </div>

</form>
