<div class="flex flex-col w-full h-2/3 items-center justify-center ">
    <div class="flex w-[490px] h-[490px] items-center justify-center rounded-md bg-[#453745] shadow-2xl">
        <form class="w-[380px]">

            <div>

            </div>

            <div class="mb-4">
                <label class="mb-2 text-base ">Nome da Campanha:</label>
                <input type="text" class="block w-full p-2 text-gray-900 border border-[#FF1457] rounded-md bg-gray-50 sm:text-xs focus:ring-[#FF1457] focus:border-[#FF1457]">
            </div>

        </form>
    </div>
</div>
