<div class="container-card-personagem"
    [style.background-image]="'url(' + getImagem() + ')'">
    <div class="title-nome"> {{ personagem.nome }} </div>

    <div class="container-row">
        <div class="flex flex-col"> 
            <div>Vida: {{ personagem.vidaatual }}</div>
            <div>Mana: {{ personagem.manaatual }}</div>
        </div>
        <div class="flex flex-col">
            <div>{{ personagem.raca.nome }}</div>
            <div>Level: {{ personagem.level }} </div>
        </div>
    </div>

</div>
