<div class="container-geral">
    <div class="w-full h-full flex flex-row">
        <div class="basis-[40%] w-full h-full flex flex-col p-2 gap-3 ">

            <div class="w-full flex flex-col p-2 bg-rosa-cinza rounded-md">
                <div>
                    <div>Nome do personagem</div>
                    <div class="flex flex-row">
                        <div class="w-[120px] h-[120px] text-black bg-white">
                            FOTO
                        </div>
                        <div class="flex flex-col bg-rosa-choque p-3 justify-around ">
                            <div class="flex flex-col gap-3">
                                <div>vida</div>
                                <div>energia</div>
                            </div>
                            <div class="flex flex-row  justify-center">
                                <div>status</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full h-full flex flex-col p-2 gap-3 bg-rosa-cinza rounded-md">
                
            </div>
        </div>
        <div class="basis-[60%] w-full h-full p-2 ">
            <div class="w-full flex flex-row ">
                <div class="flex flex-col basis-[40%] gap-2">
                    <div>
                        <label class="mb-2 text-base ">Nome:</label>
                        <input type="text" class="w-full h-8 p-2 text-gray-900 border border-[#FF1457] rounded-md bg-gray-50  focus:ring-[#FF1457] focus:border-[#FF1457]">
                    </div>
                    <div>
                        <label class="mb-2 text-base ">Raça:</label>
                        <input type="text" class="w-full h-8 p-2 text-gray-900 border border-[#FF1457] rounded-md bg-gray-50  focus:ring-[#FF1457] focus:border-[#FF1457]">
                    </div>
                    <div>
                        <label class="mb-2 text-base ">Idade:</label>
                        <input type="text" class="w-full h-8 p-2 text-gray-900 border border-[#FF1457] rounded-md bg-gray-50  focus:ring-[#FF1457] focus:border-[#FF1457]">
                    </div>
                    <div>
                        <label class="mb-2 text-base ">Características:</label>
                        <textarea type="text" class="w-full h-32 p-2 text-gray-900 border border-[#FF1457] rounded-md bg-gray-50  focus:ring-[#FF1457] focus:border-[#FF1457]"></textarea>
                    </div>
                </div>
                <div class="flex basis-[60%] justify-center p-3">
                    <div class="flex flex-row justify-center h-[400px]  w-[350px]">
                        <div class="flex flex-col w-full justify-between items-center">
                            <div class="hexagon-borda z-10">
                                <div class="hexagon-background">
                                    <div class="text-black">Agi</div>
                                </div>
                            </div>
                            <div class="flex flex-row w-full justify-between 2xl:justify-around z-10">
                                <div class="hexagon-borda ">
                                    <div class="hexagon-background">
                                        <div class="text-black">Força</div>
                                    </div>
                                </div>
                                <div class="hexagon-borda">
                                    <div class="hexagon-background">
                                        <div class="text-black">Res</div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-center justify-center">
                                <div class="absolute circle text-3xl">Atributos</div>
                            </div>
                            <div class="flex flex-row w-full justify-between 2xl:justify-around z-10">
                                <div class="hexagon-borda">
                                    <div class="hexagon-background">
                                        <div class="text-black">Int</div>
                                    </div>
                                </div>
                                <div class="hexagon-borda">
                                    <div class="hexagon-background">
                                        <div class="text-black">Sanid</div>
                                    </div>
                                </div>
                            </div>
                            <div class="hexagon-borda z-10">
                                <div class="hexagon-background">
                                    <div class="text-black">Poder</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="w-full h-full flex flex-col p-2 bg-rosa-choque">
                <div class="w-full h-[350px] rounded-md shadow-lg bg-rosa-escuro">

                </div>
                <div class="w-full h-[120px] rounded-md bg-rosa-cinza border-[3px] border-rosa-choque ">

                </div>
                <div class="w-full flex flex-row justify-between">
                    <div>
                        <label class="mb-2 text-base ">Campanha:</label>
                        <input type="text" class="w-full h-8 p-2 text-gray-900 border border-[#FF1457] rounded-md bg-gray-50  focus:ring-[#FF1457] focus:border-[#FF1457]">
                    </div>
                    <button routerLink="/index" routerLinkActive="active" type="button" class="w-full p-2 me-2 mb-2 text-sm focus:outline-none bg-[#FF1457] rounded-lg border border-gray-200 hover:bg-gray-100 hover:border-[#FF1457] hover:!text-[#FF1457]">ENTRAR</button>
                    <button routerLink="/index" routerLinkActive="active" type="button" class="w-full p-2 me-2 mb-2 text-sm focus:outline-none bg-[#FF1457] rounded-lg border border-gray-200 hover:bg-gray-100 hover:border-[#FF1457] hover:!text-[#FF1457]">Reset</button>
                    <button routerLink="/index" routerLinkActive="active" type="button" class="w-full p-2 me-2 mb-2 text-sm focus:outline-none bg-[#FF1457] rounded-lg border border-gray-200 hover:bg-gray-100 hover:border-[#FF1457] hover:!text-[#FF1457]">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>
