<div class="container-geral-row">
  <div class="container-geral-left">

    <div class="container-foto-vida-engeria">
      <div class="container-foto">
        FOTO
      </div>

      <div class="container-vida-energia">
        <div>Vida</div>
        <p-progressbar color="red" [value]="(vidaatual / maxvida) * 100">
          <ng-template #content let-value>
            <span>{{vidaatual}}/{{ maxvida }}</span>
          </ng-template>
        </p-progressbar>

        <div>Energia</div>
        <p-progressbar color="rgb(74, 183, 255)" [value]="50">
          <ng-template #content let-value>
            <span>{{value}}/100</span>
          </ng-template>
        </p-progressbar>

      </div>
    </div>

    <div class="container-tabs flex-grow">

      @for (item of listaPericia; track item.id) {
      <div>{{ item.nome }}</div>
      }

    </div>
  </div>

  <div class="container-geral-rigth">

    <div class="container-form-atrib">

      <form class="container-form">
        <div>
          <label class="label-padrao">Nome:</label>
          <input type="text" class="input-padrao">
        </div>
        <div class="container-raca">
          <label class="">Raça:</label>
          <p-select class="raca" size="small" [options]="listaRaca" optionLabel="nome" placeholder="Selecione a Raça" />
        </div>
        <div>
          <label class="label-padrao">Idade:</label>
          <input type="text" class="input-padrao">
        </div>
        <div class="container-textarea">
          <label class="label-padrao">Características:</label>
          <textarea type="text" class="input-textarea"></textarea>
        </div>
      </form>

      <div class="container-atributos-img">

        <div class="container-atributos">

          <div class="container-for-int">
            <div class="hexagon-borda">
              <div class="hexagon-background flex-col ">
                <div class="text-2xl">
                  3
                </div>
                <div>for</div>
              </div>
            </div>
            <div class="hexagon-borda">
              <div class="hexagon-background">int</div>
            </div>
          </div>
          <div class="container-agi-pow">
            <div class="hexagon-borda">
              <div class="hexagon-background">agi</div>
            </div>
            <div class="circle">Atributos</div>
            <div class="hexagon-borda">
              <div class="hexagon-background">pow</div>
            </div>
          </div>
          <div class="container-res-san">
            <div class="hexagon-borda">
              <div class="hexagon-background">res</div>
            </div>
            <div class="hexagon-borda">
              <div class="hexagon-background">san</div>
            </div>
          </div>

        </div>

      </div>


    </div>

    <div class="container-geral-bottom">
      <div class="container-sing-caminho-arquetpo">

        <div class="container-caminho">
          <div>
            <label class="label-padrao">Caminhos:</label>
            <p-select class="w-full max-w-full" size="small"
              [options]="listaCaminho" optionLabel="nome" 
              (onChange)="selectCaminho()"
              placeholder="Selecione um Caminho" [(ngModel)]="caminho"/>
          </div>
          <div class="content-caminho ">
            <div class="title">Caminhos Escolidos:</div>
            @for (caminho of listaCaminhoSelecionado; track $index) {
              <div class="row-caminho">
                <span>{{ caminho.nome }}</span> 
                <p-button icon="pi pi-times" 
                [rounded]="true" [text]="true"
                severity="danger" click (click)="removeCaminho(caminho)"/>
              </div>
            }
          </div>
        </div>

        <div class="container-arquetipo">
          <div>
            <label class="label-padrao">Arquetipos:</label>
            <p-select class="w-full" size="small" 
              [options]="listaCaminhoArquetipo" optionLabel="nome"
              (onChange)="selectArquetipo()"
              placeholder="Selecione um Arquetipos" [(ngModel)]="arquetipo" />
          </div>
          <div class="content-arquetipo">
            <div class="title">Arquetipos Escolidos:</div>
            @for (arquetipo of listaArquetipoSelecionado; track $index) {
              <div class="row-caminho">
                <span>{{ arquetipo.nome }}</span> 
                <p-button icon="pi pi-times" 
                [rounded]="true" [text]="true"
                severity="danger" click (click)="removeArquetipo(arquetipo)"/>
              </div>
            }
          </div>
        </div>

        <div class="container-singularidade">
          <label class="label-padrao">SINGULARIDADE:</label>
          <textarea type="text" class="input-textarea"></textarea>
        </div>

      </div>
    </div>

  </div>
</div>
