  .circle {
    width: 275px;
    height: 275px;
    background-color: #FF1457;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }

.hexagon-borda {
  width: 90px;
  height: 90px;
  background-color: #FF1457;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon-background {
  width: 85px;
  height: 85px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

// .circle {
//   width: 275px;
//   height: 275px;
//   background-color: #FF1457;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   clip-path: circle(50%);
// }