<div class="flex flex-col w-full h-2/3 items-center justify-center ">
  <form class="w-[380px] gap-2 flex flex-col" [formGroup]="formLogin" (submit)="Login()">
    <div>
      <label class="label-padrao">Nome de Usuario:</label>
      <input type="text" formControlName="login"
        class="input-padrao">
    </div>
    <div>
      <div>
        <label class="label-padrao">Senha:</label>
        <input type="password" formControlName="senha"
          class="input-padrao">
      </div>
      <p class="text-[10px] flex justify-end">ESQUECEU A SENHA?</p>
    </div>

    <button type="submit" [disabled]="formLogin.invalid"
      class="button-padrao">ENTRAR</button>
    <button type="button" (click)="goToCadastro()"
      class="button-padrao">CADASTRAR-SE</button>
  </form>
</div>
