<div class="flex flex-col w-full h-2/3 items-center justify-center ">
    <form class="w-[380px]">
        <div class="mb-4">
            <label class="mb-2 text-base ">Nome de Usuario:</label>
            <input type="text" class="block w-full p-2 text-gray-900 border border-[#FF1457] rounded-md bg-gray-50 sm:text-xs focus:ring-[#FF1457] focus:border-[#FF1457]">
        </div>
        <div class="mb-4">
            <div>
                <label class="mb-2 text-base ">Senha:</label>
                <input type="text" class="block w-full p-2 text-gray-900 border border-[#FF1457] rounded-md bg-gray-50 sm:text-xs focus:ring-[#FF1457] focus:border-[#FF1457]">
            </div>
            <p class="text-[10px] flex justify-end">ESQUECEU A SENHA?</p>
        </div>

        <button type="button" class="w-full p-2 me-2 mb-2 text-sm focus:outline-none bg-[#FF1457] rounded-lg border border-gray-200 hover:bg-gray-100 hover:border-[#FF1457] hover:!text-[#FF1457]">ENTRAR</button>
        <button routerLink="/cadastro" routerLinkActive="active" type="button" class="w-full p-2 me-2 mb-2 text-sm focus:outline-none bg-[#FF1457] rounded-lg border border-gray-200 hover:bg-gray-100 hover:border-[#FF1457] hover:!text-[#FF1457]">CADASTRAR-SE</button>
    </form>
</div>
