@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
@tailwind base;
}

@layer tailwind-utilities {
@tailwind components;
@tailwind utilities;

}

@import "primeicons/primeicons.css";

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Rubik:wght@300&display=swap');


body{
    background-color: #35313B;
}
*{
    font-family: 'IM Fell French Canon SC', serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: white; }

.custom-modal .mat-dialog-container {
    max-width: 100% !important;
    max-height: 90vh !important;
    overflow: hidden !important;
}
